@import 'variables.scss';
@import 'utilities.scss';
@import 'responsive.scss';

.app{
    background-color: $primary-color;
}

body{
    font-family: 'Ubuntu';
}

.header{
    background: $secondary-color;
}

footer {
    .text-center{
        ul{
            margin-left: 1.44rem;
            margin-right: 1.44rem;
        }
    }
}

.navbar{
    margin: 0 auto;
    max-width: 960;
    padding: 0rem 1.0875rem;
    justify-items: space-between;
    align-items: center;

    .logo{
        color: $primary-color;
        text-decoration: none;
    }

    .nav{
        flex: 1;
        margin-bottom: auto;

        .nav-item{
            list-style-type: none;
            padding: 1rem;
            margin-bottom: inherit;
        }
    }
}

.banner {
    background: rebeccapurple;
    color: white;
    padding: 5rem;
    font-size: 50px;
}

.list-item{
    list-style-type: none;
    padding: 0.5rem;
}

.item-name{
    color: $primary-color;
    text-decoration: none;
}

.title{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.5rem;
    color: #000000;
    font-family: 'Ubuntu';
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
    line-height: 1.25;
}

.subtitle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.5rem;
    color: #000000;
    font-family: 'Ubuntu';
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.51572rem;
    line-height: 1.25;
}

a {
    color: $secondary-color;
    text-decoration: none;
}

p {
    color: black;
}

article{
    box-shadow: rgba(46, 41, 51, 0.08) 0px 1px 2px, rgba(71, 63, 79, 0.08) 0px 2px 4px;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 4px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, padding 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

    .article-image {
        height: 200px;
    }

    .article-body{
        padding: 3rem;
    }
}

article:hover{
    box-shadow: 1px 1px 10px 2px #888888;
}

/**
 * Post Page
 */
pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}
/**
 * End Post Page
 */
/**
 * Form
 */
.formgroup {
    margin-bottom: 10px;

    .formcontrol {
        width: 100%;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        margin: 5px 0px;
    }

    .textarea{
        height: 175px;
    }

    .g-recaptcha {
        display: inline-block;
    }
}
/**
 * End Form
 */

@import 'responsive.scss';
