/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .col-medium{
        width: 100%;
        padding: 5px 10px;
    }

    /**
     * Header
     */
    .header {
        padding-top: 5%;
    }

    /**
     * Home
     */
    .banner{
        font-size: 30px;
    }

    /**
     * Form
     */
    .formgroup {
        .textarea{
            height: 50px;
        }
    }
    
    /**
     * Height
     */
    .h-300{
        height: auto;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .col-medium{
        width: 100%;
        padding: 5px 10px;
    }

    /**
     * Header
     */
    .header {
        padding-top: 5%;
    }

    /**
     * Home
     */
    .banner{
        font-size: 30px;
    }

    /**
     * Form
     */
    .formgroup {
        .textarea{
            height: 50px;
        }
    }
    
    /**
     * Height
     */
    .h-300{
        height: auto;
    }
}